body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-card {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-height:400px ;
    box-shadow: 4px 3px 3px #7c7e7b;
    border: 3px solid #dbf3d1;
}
.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 80%;
    border: 2px solid cornflowerblue;
    margin-top:10px ;
    padding: 2px;
    background-color: #fff;

    
}
.profile-image{
    margin-top: 0%;
    padding-top: 5px;
    height: 130px;    
    background-color: cornflowerblue;
}


.profile-info {
    padding: 0;
    text-align: center;
}

.profile-info h1 {
    margin-top:45px ;
    font-family: initial;
    
}

.profile-info h4 {
    padding-top: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0;
}

.social-icons {
    margin: 20px;
}

.social-icons a {
    display: inline-block;
margin-right: 10px;
}

.social-icons img {
    width: 50%;
    padding: 3px;
    height: 50%;
    border-radius: 50%;
}
.social-icons .link{
    width: 35px;
    height: 35px;
    margin-left: px;
    box-shadow: 4px 3px 3px #7c7e7b;

}
.social-icons :hover{
    border-radius: 30%; 
    width: 34px;
    height: 34px;
}

button{
    margin: 0 10px 10px ;
    padding: 0 10px;
    background-color: rgb(32, 139, 240);
    border-radius: 40%;
    height: 35px;
    font-weight: 700;
    width: 100px;
    border: 2px solid rgb(114, 112, 112);
    box-shadow: 5px 3px 3px #7c7e7b;
}
.btn :hover{
    background-color: rgb(153, 210, 245);
    border: 2px solid rgb(36, 104, 104);
    border-radius: 30%;
}